{:organization "graphqlize"
 :organization-name "Tamizhvendan"
 :logo {:href "https://www.demystifyfp.com/"
        :src "https://s.gravatar.com/avatar/4827c34feb1e04f53717bde63f25b19e?s=200"}
 :links [{:text "Blog" :href "https://www.demystifyfp.com/"}
         {:text "Talks" :href "https://www.demystifyfp.com/"}
         {:text "Contact" :href "https://www.demystifyfp.com/"}]
 :social {:twitter "demystifyfp"
          :linkedin "in/tamizhvendan"}
 :languages #{"F#"}
 :included-projects #{"CafeApp" "Suave.Azure.Functions" "acubot" "FsTweet" "FsConfig" "FsToolkit.ErrorHandling"}
 :extra-repos [{:user "tamizhvendan" :repo "CafeApp"}
               {:user "tamizhvendan" :repo "Suave.Azure.Functions"}
               {:user "tamizhvendan" :repo "acubot"}
               {:user "demystifyfp" :repo "FsTweet"}
               {:user "demystifyfp" :repo "FsConfig"}
               {:user "demystifyfp" :repo "FsToolkit.ErrorHandling"}]
 :project-logos {"FsTweet" "https://github.com/demystifyfp/FsTweet/raw/master/src/FsTweet.Web/assets/images/FsTweetLogo.png"}
 :token-name "GITHUB_ORG_TOKEN"
 :analytics "UA-111185766-1"
 :style {:primary-color "#F44336"
         :header {:background "linear-gradient(0deg, rgba(30, 39, 53, 0.88), rgba(30, 39, 53, 0.88)), url(\"img/header-background.jpg\") no-repeat center center"
                  :backgroundSize "cover"}
         :font {:url "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400"
                :base "'Open sans', sans-serif"
                :headings "'Poppins', sans-serif"
                :sizes {:light 300
                        :regular 400
                        :semi-bold 600
                        :bold 700}}}}
